<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ct8356.mysecondapp"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ct8356.mysecondapp.TimeAccumulatorActivity"
            android:label="@string/title_activity_time_accumulator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.ChooseTagActivity"
            android:label="@string/title_activity_choose_tag" >
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.StartSessionActivity"
            android:label="@string/title_activity_start_session" >
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.CreateTagActivity"
            android:label="@string/title_activity_creata">
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.TagManagerActivity"
            android:label="@string/title_activity_tag_manager">
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.TimeEntryManagerActivity"
            android:label="@string/title_activity_time_entry_manager">
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.AbstractManagerActivity"
            android:label="@string/title_activity_abstract_manager" >
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.AbstractCreatorActivity"
            android:label="@string/title_activity_abstract_creator" >
        </activity>
        <activity
            android:name="com.ct8356.mysecondapp.TimeEntryCreatorActivity"
            android:label="@string/title_activity_time_entry_creator">
        </activity>
    </application>

</manifest>
